
<br>
<br>
<div class="text-center">
    <p class="fs-2 fw-bold ">WELCOME TO JOB PORTAL WEBSITE</p>
    <p clas="fs-4">Helps you to land in to your dream world</p>
</div>
<br>
<br>
<div class="text-center">
<div class="btn-group" role="group" aria-label="Basic mixed styles example">
    <button type="button" class="btn btn-danger" routerLink="/adminlogin">Admin</button>
    <button type="button" class="btn btn-warning" routerLink="/companylogin">Company</button>
    <button type="button" class="btn btn-success" routerLink="/jobseekerlogin">Jobseeker</button>
  </div>
</div>
<br>
<br>
<!-- <img src="assets\job_banner_1.jpg"  class="rounded mx-auto d-block" style="height: 300px; border: 5px solid #555;" > -->
<img src="assets\job-portal-website.png" style="height: 500px; width: 60px;border-color: black;"class="d-block w-100" alt="...">
